@{
ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<div class="carouselWrap">
    <img src="assets/ntlinh/home-bg.png" alt="" style="width: 100%" loading="lazy" />

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-2 col-3">
                <h1 class="title">
                    <span class="textDeco">
                        Commercial
                    </span>
                    <div class="textDeco">Products</div>
                </h1>
            </div>
            <div class="col-lg-10 col-9 imgWrap">
                <span>
                    <img src="assets/projects/commercail.png" class="imgFadeIn" />
                </span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-3">
                <h1 class="title">
                    <span  class="textDeco">
                        Wedding
                    </span>
                    <div class="textDeco">Films</div>
                </h1>
            </div>
            <div class="col-lg-10 col-9 imgWrap">
                <span >
                    <img src="assets/projects/wedding.png" class="imgFadeIn" />
                </span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-3">
                <h1 class="title">
                    <span  class="textDeco">
                        Events
                    </span>
                </h1>
            </div>
            <div class="col-lg-10 col-9 imgWrap">
                <span >
                    <img src="assets/projects/event.png" class="imgFadeIn" />
                </span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-3">
                <h1 class="title">
                    <span  class="textDeco">
                        Interviews
                    </span>
                    <span  div="textDeco">
                        Podcasts
                    </span>
                </h1>
            </div>
            <div class="col-lg-10 col-9 imgWrap">
                <span >
                    <img src="assets/projects/interview.png" class="imgFadeIn" />
                </span>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-2 col-3">
                <h1 class="title">
                    <span  class="textDeco">
                        Lifestyle
                    </span>
                </h1>
            </div>
            <div class="col-lg-10 col-9 imgWrap">
                <span >
                    <img src="assets/projects/lifestyle.png" class="imgFadeIn" />
                </span>
            </div>
        </div>
    </div>
</div>