<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

</head>
@{
    var userName = (string)TempData["currentUser"];
}

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="assets/Logo/L1.png" alt="" class="logoWidth" />
                </a>
                <a class="navName textDecoration" href="/Home">
                    NGUYENTIENLINH
                </a>
                <button class="navbar-toggler collasped" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span class="navbar-collapse collapse" id="navbarCollapse">
                    <ul class="navbar-nav ms-auto mb-2 mb-md-0 text-center">
                        <a class="nav-item" style="text-decoration:none" asp-area="" asp-controller="Home"
                            asp-action="Index">
                            <span class="nav-link pe-2 pe-lg-5">
                                HOME
                            </span>
                        </a>
                        <a class="nav-item" style="text-decoration:none" asp-area="" asp-controller="MyWork"
                            asp-action="Index">
                            <span class="nav-link pe-2 pe-lg-5">
                                MY WORK
                            </span>
                        </a>
                        <a class="nav-item" style="text-decoration:none" asp-area="" asp-controller="Photo"
                           asp-action="Index">
                            <span class="nav-link pe-2 pe-lg-5">
                                PHOTO
                            </span>
                        </a>
                        <a class="nav-item" style="text-decoration:none" asp-area="" asp-controller="AboutMe"
                           asp-action="Index">
                            <span class="nav-link pe-2 pe-lg-5">
                                ABOUT ME
                            </span>
                        </a>
                        @if (!string.IsNullOrEmpty(userName))
                        {
                            <a class="nav-item" style="text-decoration:none" asp-area="" asp-controller="Category"
                                asp-action="Manage">
                                <span class="nav-link pe-2 pe-lg-5">
                                    MANAGE CATEGORY
                                </span>
                            </a>
                            <a class="nav-item" style="text-decoration:none" asp-controller="Login" asp-action="Logout">
                                <span class="nav-link pe-2 pe-lg-5">
                                    @(userName != null ? "LOGOUT " + userName?.ToUpper() : "")
                                </span>
                            </a>
                        }
                        else
                        {
                            <a class="nav-item" style="text-decoration:none" asp-controller="Login" asp-action="Index">
                                <span class="nav-link pe-2 pe-lg-5">
                                    LOGIN
                                </span>
                            </a>
                        }

                    </ul>
                </span>
            </div>
        </nav>
    </header>
    <div class="main-body">
        <main role="main" class="pb-3">
            <div class="body-section">@RenderBody()</div>
        </main>
    </div>

    <footer class="bg-dark text-white mt-5 mb-0 ">
        <div class="d-flex flex-md-row flex-column justify-content-center align-items-center pb-3">
            <div class="px-3 pt-0 pt-sm-3 order-md-1 order-2 fs-3">
                Let's Connect!
            </div>
            <div class="px-3 pt-3 order-md-2 order-1">
                <span>
                    <img src="~/assets/Logo/L2.png" alt="" style="width: 60px" />
                </span>
            </div>
            <div class="px-3 pt-3 d-flex order-md-3 order-3">
                <div class="px-2">
                    <a href="https://www.facebook.com/ltnguyen198">
                        <img src="~/assets/footer-icon-link/2021_Facebook_icon.svg.png" alt="" style="width: 32px"
                            loading="lazy" />
                    </a>
                </div>
                <div class="px-2">
                    <a href="https://www.youtube.com/channel/UCZVfd9rhMUgZT9V6nBsfabw">
                        <img src="~/assets/footer-icon-link/youtube-logo.webp" alt="" style="width: 32px"
                            loading="lazy" />
                    </a>
                </div>
                <div class="px-2" style="cursor: pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <span>
                        <img src="~/assets/footer-icon-link/Icon_of_Zalo.svg.webp" alt="" style="width: 32px"
                            loading="lazy" />
                    </span>
                </div>
                <div class="modal fade" id="exampleModal" tabIndex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">
                                    Connect with me
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="~/assets/ntlinh/zalo-qr.jpg" alt="" style="width: 100% " />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Đóng
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const navbarToggler = document.querySelector('.navbar-toggler');
            const mainBody = document.querySelector('.main-body');

            navbarToggler.addEventListener('click', function () {
                if (navbarToggler.classList.contains('collapsed')) {

                    mainBody.style.marginTop = '0';
                } else {
                    mainBody.style.marginTop = '210px';
                }
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>