@model BuildingBlock.DTOS.AboutDTO;

<label class="control-label">Ảnh</label>
<div class="bg-light" id="dynamicImage"
	 style="height: 300px;">
	<img  src="~/assets/ntlinh/@Model.AboutImage" alt="" class="mw-100 mh-100">

</div>
